@import url('http://fonts.googleapis.com/css?family=Lato');
body {
  font-family: Lato;
}

h1 {
  text-align: center;
}

.img {
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#direction {
  height: 200px;
  width: 400px;
  margin: 0 auto;
}

#input-form {
  border-width: 6px;
  border-style: solid;
  border-color: #6FCBDD #EAA822 #E11665 #38BA91;
  border-radius: 10%;
  padding: 10px;
  height: 200px;
  width: 300px;

}

#input-form form {
  font-size: 18;
  margin-right: 30px;
  margin-left: 30px;
}

#input-form form input {
  font-size: 18;
  font-family: Lato;
}
#input-form p {
  margin-right: 50px;
  margin-left: 50px;
}

img {
  border-width: 6px;
  border-style: solid;
  border-color: #6FCBDD #EAA822 #E11665 #38BA91;
  border-radius: 10%;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}
